* {
    margin: 0;
    padding: 0;
    -webkit-text-select:none;
    -webkit-tap-highlight-color: transparent;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('https://products.ls.graphics/mesh-gradients/images/12.-Tumbleweed_1.jpg') center center/cover;
}

.quiz-container {
    border-radius: 10px;
    padding: 1rem;
    box-shadow: 0 0 10px black;
    backdrop-filter: blur(20px);
    max-width: 600px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.4);
    font-family: 'Kanit';
}

.quiz {}

.questionCount {
    margin-bottom: 10px;
    font-family: 'Cinzel';
    font-weight: bold;
}

#questionLength {
    color: rgb(0, 0, 0);
    font-weight: bold;
    letter-spacing: 1px;
}

#question {
    font-family: 'Merriweather';
}

.answers li {
    font: bold;
    font-size: 1.2rem;
    letter-spacing: 1px;
    margin: 15px 0;
    list-style-type: none;
    display: flex;
    align-items: center;
}

input[type="radio"] {
    appearance: none;
    background-color: white;
    position: relative;
    margin: 0;
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid rgb(0, 0, 0);
    border-radius: 50%;
    display: grid;
    place-content: center;
}

input[type="radio"]::before {
    content: "";
    width: 0.65rem;
    height: 0.65rem;
    padding: 0px;
    border-radius: 50%;
    background-color: blue;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--form-control-color);
}

input[type="radio"]:checked::before {
    transform: scale(1);
}

.radio-btn~label {
    cursor: pointer;
    padding-left: 0.5rem;
}

.btn {
    width: 100%;
    padding: 0.5rem 0;
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.2rem;
    background-color: skyblue;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    outline: 2px solid rgb(0, 0, 0);
    outline-offset: 3px;
    transition: 0.1s linear;
}
.btn:active{
    outline-offset: 0;
}
.btn:disabled{
    background-color: rgb(197, 222, 231);
}

@media screen and (max-width:468px) {
    h2{
        font-size: 1.4rem;
    }
}